name: Build APK Release

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Debug APK
      run: ./gradlew assembleDebug

    - name: Build Release APK
      run: ./gradlew assembleRelease

    - name: Sign Release APK
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        aliasPassword: ${{ secrets.ALIAS_PASSWORD }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}

    - name: Upload Debug APK
      uses: actions/upload-artifact@v3
      with:
        name: airaflix-debug-apk
        path: app/build/outputs/apk/debug/*.apk
        retention-days: 30

    - name: Upload Release APK
      uses: actions/upload-artifact@v3
      with:
        name: airaflix-release-apk
        path: ${{ steps.sign_app.outputs.releaseDirectory }}/*.apk
        retention-days: 30

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: ${{ steps.sign_app.outputs.releaseDirectory }}/*.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
